<!DOCTYPE html>
<html>
<title>MX0WVV XLX Lookup</title>
<head>
	<meta http-equiv="refresh" content="30; URL=https://mx0wvv.org/monitor">
<style>
body {
	background-color: rgb(16, 15, 15);
}

h1 {
	color: rgb(50, 73, 228);
	font-family: "Lucida Console", "Courier New", monospace;
}

p {
	color: rgb(19, 206, 19);
	font-family: "Lucida Console", "Courier New", monospace;
}

.stations {
	border-style: dotted;
	border-color: rgb(50, 73, 228);
	border-radius: 100%;
}

</style>
</head>

<body>

<h1>
<pre>
   ______       __  _
  / __/ /____ _/ /_(_)__  ___  ___
 _\ \/ __/ _ `/ __/ / _ \/ _ \(_-<
/___/\__/\_,_/\__/_/\___/_//_/___/
</pre>

</h1>
<div class="stations">
{{ range .Data }}
<p>{{ . }}</p>
{{end}}
</div>
</body>
</html> 
